body {
    height: 100%;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
